# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django / SQLite runtime files
db.sqlite3
db.sqlite3-journal
media/
media/avatars/
media/room_avatars/
staticfiles/
backups/
sqlite_to_pg_*.json

# Logs
*.log

# Environment files
.env
.env.*
.runtime-db.env

# Test / coverage artifacts
.coverage
.pytest_cache/
htmlcov/

# IDE / editor files
.idea/
.vscode/

# Capacitor / mobile
capacitor-app/node_modules/
capacitor-app/android/.gradle/
capacitor-app/android/build/
capacitor-app/android/capacitor-cordova-android-plugins/build/
capacitor-app/android/gradle/gradle-daemon-jvm.properties
capacitor-app/android/local.properties
capacitor-app/android/app/build/
capacitor-app/android/app/release/
capacitor-app/ios/App/App/public/
capacitor-app/ios/App/Pods/
capacitor-app/ios/App/build/
capacitor-app/android/app/google-services.json
#json
animalchat-4dc14-firebase-adminsdk-fbsvc-265c626288.json

# macOS
.DS_Store
